[Unit]
Description=AGHAST Home Automation Server

Wants=network-online.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/home/steve/aghast/aghastServer -configdir /home/steve/aghast/config
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
